.box {
	border-width: 1px;
	background-color: white;
}

.memberBox {
	border-width: 1px;
	background-color: green;
}

.chattalk {
	background-color: #3016B0;
	padding: 5px;
	margin: 4px;
	float: left;
	clear: right;
	border-radius: 10px;
	color: white
	
}

.chattalkreply {
	background-color: #FFCD00;
	float: right;
	padding: 5px;
	margin: 4px;
	clear: left;
	border-radius: 10px

}
